@page

@* 
Prova di pagina che contiene un component per il rendering
di una parte ripetitiva di una pagina.
*@

@for (int y = 1; y < 5; y++)
{
    <div class="col-md-3 card h-100 d-flex justify-content-center align-items-center ">
        @* @await Component.InvokeAsync("provaTreComp", new { i = @y }) *@
        <vc:prova-tre-comp i="@y"></vc:prova-tre-comp>
    </div>
}
