@page
@model Bakery.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>Good @Model.TimeOfDay,</h1>
    <h1> e benvenuti alla prima prova di Razor Pages!</h1>
    <p>Paragrafo 1
    </p>
    <p>Paragrafo 2
    </p>
    <p>Paragrafo 3
    </p>
</section>