@page "{statoStr?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <p>
            <input type="hidden" asp-for="statoStr" value="@Model.statoStr" />
            Contatore <input asp-for="count" value="@Model.count" />
            <br>
            <br>
            <input type="submit" value="Send Request" class="mt-5" />
        </p>
    </form>
</div>
